@{
    ViewBag.Title = "Verify";
}
<label>帳號:</label>
<h2>Verify</h2>
@Html.Label("帳號")
<div>
    <ol>
        <li>User: @ViewBag.Account</li> 
        <li>Pwd: @ViewBag.Password</li>
    </ol>
</div>